body {
    background-color: #1E1E1E;
    color: #D4D4D4;
    font-family: 'Fira Code', monospace;
}
h1, h2, h3, h4, h5, h6 {
    color: #FFA500;
}
a {
    color: #00FFFF;
    text-decoration: underline;
}
code {
    background-color: #333;
    padding: 2px;
}
table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid #444;
}

/* Page Breaks */
h1, h2 {
    break-before: always;
  }
  
  h1, h2, h3, h4, h5, h6 {
    break-after: avoid;
  }
  
  ol, p {
    break-inside: avoid;
    break-after: auto;
  }
  
  li {
    break-after: avoid;
  }