/* --------- Print-Friendly Styles --------- */

@page {
  size: A4;
}

@page:right{
  @bottom-right {
    content: counter(page);
  }
}

@page:left{
  @bottom-left {
    content: counter(page);
  }
}

h1, h2 {
  break-before: always;
}

h1, h2, h3, h4, h5, h6 {
  break-after: avoid;
}

ol, p, table, figure {
  break-inside: avoid;
  break-after: auto;
}

li {
  break-after: avoid;
}



/* --------- Conservative Options --------- */

/* Typography */
body {
  font-family: 'Book Antiqua', serif;
}

/* Margins */
body {
  margin: 1in;
}

/* Header/Footer Styles */
header, footer {
  font-size: 12px;
  color: grey;
}

/* Table Styling */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

/* Link Styling */
a {
  color: blue;
  text-decoration: none;
}

/* --------- Advanced Options --------- */

/* Color Themes for Digital Reading */
body {
  background-color: #101c3b;
  color: #91a67c;
}